.mainPaper{
    width: 90%;
    height: 16em;
    display: flex !important;
    flex-direction: column !important;
    gap: 5svh !important;
    justify-content: center !important;
    align-items: center !important;
}

.title{
    font-size: 6svw !important;
    color: #52238d;
}

.card{
    display: flex !important;
    flex-direction: column !important;
    gap: 3svh !important;
    align-items: center !important;
}

.cardTitle{
    font-size: 1.6em !important;
    color: #52238d;
}
